// Colors
$color-primary: #F33838;
$color-gray: #B4B4B4;
$color-dark-grey: #737373;
$color-light-grey: #E9E9E9;
$color-light-primary: #EFB5B5;
$color-black: #1A1A1A;
$color-white: #FCF6F6;

// Font
$font-poppins: 'Poppins', sans-serif;

