@import "./.././../styles/typography.scss";

.__section {
    @apply w-full relative block;
    .__section_container {
        @apply relative flex gap-4 pt-[73px];
        
        
// Card
.__card {
    @apply relative w-full max-w-[523px] h-[400px] flex justify-center items-center;
    &:hover {
        .__card_image {
             @apply brightness-125;
             transition: filter .3s ease;
        }   
        .__card_icon {
            @apply -translate-x-14;
        } 
    }

    .__card_image {
        @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full object-cover z-0;
        transition: filter .3s ease;
    }
    .__card_container {
        @apply w-full h-full py-[23px] ps-[29px] pe-[31px] flex justify-between items-end z-10;
        
        .__card_details { 
            @apply w-full ;
            max-width: calc(100% - 27px);
            
            .__card_title {
                @apply h2 text-white;
            }
            .__card_description {
                @apply text-gray text max-w-[calc(100%-47px)];
            }
            .__card_icon {
                @apply w-[27px] h-[27px] absolute bottom-[23px] right-[31px] transition-all duration-300;
            }
        }
        .__card_link {
            @apply h-[27px] h-[27px];
        }
    }
}
    }
}

